<footer class="footer mt-auto bg-primary">
    <div class="container">
        <span class="text-muted">Rodapé</span>
        <img src="/images/image1.png" height="100" width="100" alt="">
        <img src="/images/R.jpeg" height="100" width="100" alt="">
        <img src="/images/algo.jpeg" height="100" width="100" alt="">
    </div>    
</footer>